$firstColor: #205D9E;
$secondColor: #C2E6FF;
$firstFont: RoundControl;
$secondFont: Vipnagorgialla;

@font-face {
  font-family: $firstFont;
  src: url('../../assets/fonts/RoundControl.otf');
}

@font-face {
  font-family: $secondFont;
  src: url('../../assets/fonts/vipnagorgialla bd it.otf');
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease-in-out;

  &.scrolled {
    padding: 0.75rem 0;
    background-color: $secondColor;
  }

  &:not(.scrolled) {
    padding: 1.25rem 0;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 45rem;
  border: 2px solid $firstColor;
  border-radius: 9999px; 
  background-color: transparent;

  ul {
    margin-left: -26px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem; 
    list-style-type: none;

    li {
      margin-top: 16px;
      font-size: 1.2em;
      font-family: $firstFont, sans-serif;
      color: $secondColor;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1); 
      }

      &.scrolled {
        color: #205D9E;
      }
    }
  }
}
